.c-container {
  max-width: 1160px;
  margin: 0 auto;
}

.c-mainTitle {
  font-size: 75px;
  font-family: 'Memoir';
  color: #fff;
}

.c-subTitle {
  font-size: 45px;
  font-weight: bold;
  font-family: 'Zen Maru Gothic';
}