.c-btnBox {
    padding: 8px;
    border: 1px solid #fff;
    border-radius: 40px;
    background-color: #fff;
    margin: 55px auto 0;
    min-width: 336px;
    width: fit-content;
} 

.c-btn {
    display: block;
    font-size: 14.5px;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    padding-block: 19.5px 18.5px;
    border: 1px dashed #F1D1C7;
    border-radius: 40px;
}

@media screen and (max-width: 768px) {
    .c-btn {
        padding-block: 11.5px 10.5px;
    }
}

.c-btn:hover {
    opacity: 0.7;
}